@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
  
  :root {
    --accent: 0 85% 50%;
    --accent-foreground: 0 0% 98%;
  }
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2c2bad;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1f1f7a;
}